# Making your next move using [Numbeo](https://www.numbeo.com)

In [24]:
import pandas as pd
pd.set_option('display.max_rows', 300)

current_city = "Stockholm, Sweden"

In [25]:
def get_numbeo_dataframe(url, metric_column, current_city, lower_is_better = True, table_index = 1):
    df = pd.read_html(url)[table_index]
    df = df[["City", metric_column]]    

    df_current = df[df.City == current_city].iloc[0]

    if lower_is_better:
        df = df[df[metric_column] < df_current[metric_column]]
    else:
        df = df[df[metric_column] > df_current[metric_column]]
        
    df = df.sort_values(metric_column, ascending = lower_is_better).reset_index(drop=True)
    
    return df

## Purchasing Power

In [26]:
purchasing_power = get_numbeo_dataframe("https://www.numbeo.com/cost-of-living/rankings_current.jsp", 
                                        "Local Purchasing Power Index", 
                                        current_city, 
                                        lower_is_better = False)

purchasing_power

                                    City  Local Purchasing Power Index
0              Dallas, TX, United States                        156.38
1       San Francisco, CA, United States                        142.29
2             Houston, TX, United States                        139.41
3            San Jose, CA, United States                        137.85
4          Alexandria, VA, United States                        135.41
5              Irvine, CA, United States                        131.17
6              Austin, TX, United States                        130.69
7             Seattle, WA, United States                        130.09
8             Atlanta, GA, United States                        127.88
9             Raleigh, NC, United States                        126.95
10     Salt Lake City, UT, United States                        126.45
11           Columbus, OH, United States                        125.06
12            Fremont, CA, United States                        124.44
13          Lexington, KY, United States                        121.45
14               North Vancouver, Canada                        121.30
15        Little Rock, AR, United States                        120.83
16          Charlotte, NC, United States                        120.45
17        Saint Louis, MO, United States                        120.20
18            El Paso, TX, United States                        119.39
19        Kansas City, MO, United States                        118.15
20               Reno, NV, United States                        118.11
21                     Bern, Switzerland                        116.78
22         Fort Worth, TX, United States                        116.69
23                   Zurich, Switzerland                        116.42
24                     Dortmund, Germany                        115.97
25        Jersey City, NJ, United States                        115.64
26         Cincinnati, OH, United States                        115.36
27             Denver, CO, United States                        115.34
28            Phoenix, AZ, United States                        115.19
29       Indianapolis, IN, United States                        115.13
30          Vancouver, WA, United States                        114.64
31         Huntsville, AL, United States                        114.23
32        Minneapolis, MN, United States                        114.06
33         Washington, DC, United States                        113.55
34            Madison, WI, United States                        112.88
35                     Darwin, Australia                        112.65
36       Jacksonville, FL, United States                        112.45
37              Tulsa, OK, United States                        112.28
38         Louisville, KY, United States                        112.28
39      Oklahoma City, OK, United States                        111.96
40         Des Moines, IA, United States                        111.84
41            Olympia, WA, United States                        111.83
42          Ann Arbor, MI, United States                        111.82
43                   Geneva, Switzerland                        110.89
44                       Calgary, Canada                        110.68
45          San Diego, CA, United States                        110.66
46               Reading, United Kingdom                        110.42
47                  Newcastle, Australia                        110.09
48             Queens, NY, United States                        109.88
49          Las Vegas, NV, United States                        109.37
50              Omaha, NE, United States                        108.71
51             Albany, NY, United States                        108.62
52          Anchorage, AK, United States                        108.30
53                    Darmstadt, Germany                        107.79
54            Wichita, KS, United States                        106.87
55                 Lausanne, Switzerland                        106.82
56                       Aachen, Germany                        106.81
57             Fresno, CA, United States                        106.35
58           Richmond, VA, United States                        106.15
59              Tampa, FL, United States                        105.94
60                     Erlangen, Germany                        105.52
61            Lincoln, NE, United States                        105.34
62            Chicago, IL, United States                        105.11
63                    Basel, Switzerland                        104.87
64        San Antonio, TX, United States                        104.72
65   Colorado Springs, CO, United States                        104.69
66                    Nuremberg, Germany                        104.69
67          Baltimore, MD, United States                        104.62
68                     Hobart, Australia                        104.60
69          Nashville, TN, United States                        104.04
70                        Espoo, Finland                        103.96
71         Pittsburgh, PA, United States                        103.39
72        Albuquerque, NM, United States                        103.18
73                         Bonn, Germany                        102.51
74                      Aalborg, Denmark                        101.77
75         Sacramento, CA, United States                        101.44
76                 Gold Coast, Australia                        101.37
77            Orlando, FL, United States                        101.36
78                    Frankfurt, Germany                        101.01
79                          Lund, Sweden                        100.84
80                  Melbourne, Australia                        100.82
81             Boston, MA, United States                        100.70
82              Aberdeen, United Kingdom                        100.48
83                      Red Deer, Canada                        100.35
84                Luxembourg, Luxembourg                        100.34
85                        London, Canada                        100.25
86              Akron, OH, United States                        100.19
87           Portland, OR, United States                        100.15
88                   Adelaide, Australia                        100.14
89            Memphis, TN, United States                        100.01
90           New York, NY, United States                        100.00
91         Saint Paul, MN, United States                         99.89
92                        Turku, Finland                         99.88
93                       Markham, Canada                         99.12
94                      Edmonton, Canada                         99.02
95                   Lugano, Switzerland                         98.97
96        Los Angeles, CA, United States                         98.89
97            Buffalo, NY, United States                         98.74
98                 Nijmegen, Netherlands                         98.74
99          Knoxville, TN, United States                         98.33
100                     Perth, Australia                         98.25
101           Everett, WA, United States                         97.87
102                   Karlsruhe, Germany                         97.57
103         Rochester, NY, United States                         97.18
104                  Brisbane, Australia                         97.01
105                     Hanover, Germany                         96.80
106             Boise, ID, United States                         96.80
107                  Canberra, Australia                         96.11
108       Chattanooga, TN, United States                         95.86
109              Wellington, New Zealand                         95.52
110        Charleston, SC, United States                         95.50
111                       Essen, Germany                         95.49
112                       Regina, Canada                         95.43
113            Tucson, AZ, United States                         95.41
114                    Sydney, Australia                         94.84
115                   Stuttgart, Germany                         94.47
116                  Quebec City, Canada                         94.12
117   Fort Lauderdale, FL, United States                         94.00
118                    Vancouver, Canada                         93.87
119         Riverside, CA, United States                         93.45
120            Eugene, OR, United States                         92.90
121    The Hague (Den Haag), Netherlands                         92.81
122                    Hamilton, Bermuda                         92.78
123              Glasgow, United Kingdom                         92.74
124                     Winnipeg, Canada                         92.64
125                         Muscat, Oman                         92.43
126             Coventry, United Kingdom                         92.30
127                     Dresden, Germany                         91.81
128                   Delft, Netherlands                         91.66
129                       Surrey, Canada                         90.95
130              Lincoln, United Kingdom                         90.51
131                    Saskatoon, Canada                         90.46
132           Oakland, CA, United States                         90.45
133           Spokane, WA, United States                         90.43
134                  Dusseldorf, Germany                         90.04
135                      Munich, Germany                         89.68
136                 Riyadh, Saudi Arabia                         89.68
137                          Doha, Qatar                         89.64
138      Abu Dhabi, United Arab Emirates                         89.63
139                Derby, United Kingdom                         89.28
140       Baton Rouge, LA, United States                         89.23
141                       Bergen, Norway                         88.79
142          Southampton, United Kingdom                         88.76
143      Philadelphia, PA, United States                         88.68
144        Freiburg im Breisgau, Germany                         88.07
145              Cardiff, United Kingdom                         88.05
146                     Cologne, Germany                         87.96
147                    Augsburg, Germany                         87.73
148           Manchester, United Kingdom                         87.72
149                      Berlin, Germany                         87.64
150                        Oulu, Finland                         87.57
151                Leeds, United Kingdom                         87.52
152                     Victoria, Canada                         87.49
153                    Brussels, Belgium                         87.47
154                Enschede, Netherlands                         87.44
155                       Arhus, Denmark                         87.40
156                    Mannheim, Germany                         87.22
157                       Ottawa, Canada                         87.21
158                        Malmo, Sweden                         87.18
159                   Breda, Netherlands                         87.11
160                      Odense, Denmark                         86.94
161  Newcastle upon Tyne, United Kingdom                         86.93
162               Exeter, United Kingdom                         86.76
163                      Vienna, Austria                         86.68
164                     Tampere, Finland                         86.62
165              Swansea, United Kingdom                         86.30
166                  Copenhagen, Denmark                         86.29
167                      Kelowna, Canada                         86.14
168                  Mississauga, Canada                         85.76
169               Eindhoven, Netherlands                         85.73
170                   Gothenburg, Sweden                         85.61
171                  Heidelberg, Germany                         85.12
172        Birmingham, AL, United States                         84.73
173              Bend, OR, United States                         84.64
174            Leicester, United Kingdom                         84.52
175                      Toronto, Canada                         84.51
176        Bellingham, WA, United States                         84.41
177          Bournemouth, United Kingdom                         84.32
178                 Singapore, Singapore                         84.25
179                    Helsinki, Finland                         84.14
180              Belfast, United Kingdom                         84.04
181          Dubai, United Arab Emirates                         83.99
182            Liverpool, United Kingdom                         83.93
183               Dundee, United Kingdom                         83.85
184               Oxford, United Kingdom                         83.55
185                     Montreal, Canada                         83.54
186        Sharjah, United Arab Emirates                         83.41
187                      Bremen, Germany                         83.35
188         Cleveland, OH, United States                         83.26
189       New Orleans, LA, United States                         83.23
190                         Oslo, Norway                         83.12
191            Sheffield, United Kingdom                         82.89
192       Stoke-on-Trent, United Kingdom                         82.77
193                     Toulouse, France                         82.62
194                     Hamburg, Germany                         82.54
195                      Halifax, Canada                         82.11
196                     Brampton, Canada                         82.07
197                       Guelph, Canada                         81.89
198            Christchurch, New Zealand                         81.81
199              Ad Dammam, Saudi Arabia                         81.59
200                      Antibes, France                         81.41
201                Auckland, New Zealand                         81.35
202               Rotterdam, Netherlands                         81.30
203   Kingston upon Hull, United Kingdom                         80.95
204         Milwaukee, WI, United States                         80.67
205               London, United Kingdom                         80.20

## Property Prices

In [27]:
property_prices = get_numbeo_dataframe("https://www.numbeo.com/property-investment/rankings_current.jsp", 
                                        "Price To Income Ratio", current_city)

property_prices

                                  City  Price To Income Ratio
0           Memphis, TN, United States                   1.40
1             Akron, OH, United States                   1.47
2           Detroit, MI, United States                   1.50
3         Cleveland, OH, United States                   1.57
4            Mobile, AL, United States                   1.62
..                                 ...                    ...
403              Florianopolis, Brazil                  14.05
404                  Ternopil, Ukraine                  14.15
405  Santo Domingo, Dominican Republic                  14.23
406                  Ramat Gan, Israel                  14.26
407          San Salvador, El Salvador                  14.28

[408 rows x 2 columns]

## Crime

In [28]:
crime = get_numbeo_dataframe("https://www.numbeo.com/crime/rankings_current.jsp", "Crime Index", current_city)
crime

                                    City  Crime Index
0        Abu Dhabi, United Arab Emirates        11.55
1                            Doha, Qatar        12.04
2                         Taipei, Taiwan        13.45
3                    Quebec City, Canada        14.76
4          Sharjah, United Arab Emirates        16.09
5                    Zurich, Switzerland        16.40
6            Dubai, United Arab Emirates        16.53
7                      Eskisehir, Turkey        17.58
8                        Munich, Germany        17.64
9                    Lugano, Switzerland        17.95
10                        Trieste, Italy        18.15
11             Irvine, CA, United States        18.57
12                     Bern, Switzerland        18.94
13                     Maribor, Slovenia        19.56
14                     Trondheim, Norway        20.08
15                    Basel, Switzerland        20.44
16                       Yakutsk, Russia        20.76
17                        Arhus, Denmark        20.87
18                Groningen, Netherlands        20.94
19                  Cluj-Napoca, Romania        21.04
20                          Muscat, Oman        21.09
21                   Ljubljana, Slovenia        21.49
22                   Canberra, Australia        21.69
23                  Hong Kong, Hong Kong        21.81
24                        Tartu, Estonia        22.06
25                    Reykjavik, Iceland        22.11
26                      Tampere, Finland        22.13
27                       Zagreb, Croatia        22.35
28                       Manama, Bahrain        22.42
29                      Tallinn, Estonia        22.50
30           Amarillo, TX, United States        22.71
31                      Yerevan, Armenia        23.14
32                       Markham, Canada        23.15
33                     Stavanger, Norway        23.21
34                      Tbilisi, Georgia        23.25
35                          Tokyo, Japan        23.36
36                       Rijeka, Croatia        23.71
37                  Chiang Mai, Thailand        23.80
38                Eindhoven, Netherlands        24.05
39                    Timisoara, Romania        24.11
40                Prague, Czech Republic        24.21
41                 Tel Aviv-Yafo, Israel        25.23
42                     Helsinki, Finland        25.37
43     The Hague (Den Haag), Netherlands        25.46
44                       Valencia, Spain        25.55
45                         Graz, Austria        25.56
46                      Mangalore, India        25.67
47                         Gent, Belgium        25.71
48                      Aalborg, Denmark        25.84
49                         Haifa, Israel        25.88
50                        Ottawa, Canada        25.95
51                       Vienna, Austria        25.97
52               Krakow (Cracow), Poland        26.31
53                    Seoul, South Korea        26.37
54                        Warsaw, Poland        26.50
55                  Brno, Czech Republic        26.53
56                        Kigali, Rwanda        26.72
57                        Merida, Mexico        26.74
58                      Oakville, Canada        26.77
59                       Szeged, Hungary        26.90
60                       Wroclaw, Poland        27.06
61                      Waterloo, Canada        27.14
62                  Riyadh, Saudi Arabia        27.16
63                       Antalya, Turkey        27.17
64                   Geneva, Switzerland        27.26
65                        Poznan, Poland        27.44
66                       Brasov, Romania        27.46
67                Luxembourg, Luxembourg        27.55
68                         Malaga, Spain        27.56
69                    Vilnius, Lithuania        27.59
70                    Davao, Philippines        27.74
71                  Utrecht, Netherlands        27.76
72                   Copenhagen, Denmark        27.93
73                         Bursa, Turkey        27.97
74                         Izmir, Turkey        28.07
75                        Bergen, Norway        28.09
76                    Bucharest, Romania        28.13
77                      Lisbon, Portugal        28.24
78                       Galway, Ireland        28.43
79               Wellington, New Zealand        28.59
80                   Adelaide, Australia        28.66
81                    Stuttgart, Germany        28.76
82                      Montreal, Canada        29.02
83                   Islamabad, Pakistan        29.04
84                      Dresden, Germany        29.32
85                          Havana, Cuba        29.33
86                        Turku, Finland        29.41
87                         Madrid, Spain        29.50
88                       Alicante, Spain        29.77
89                          Osaka, Japan        29.87
90                      Kingston, Canada        29.95
91                        Guelph, Canada        30.04
92                    Burlington, Canada        30.07
93         Jeddah (Jiddah), Saudi Arabia        30.13
94         Freiburg im Breisgau, Germany        30.43
95                    Nuremberg, Germany        30.50
96                      Baku, Azerbaijan        30.52
97             Edinburgh, United Kingdom        30.57
98             Cambridge, United Kingdom        30.62
99                 Lausanne, Switzerland        30.70
100             Seville (Sevilla), Spain        30.71
101                     Ahmedabad, India        30.77
102                         Lund, Sweden        30.84
103                 Bratislava, Slovakia        30.88
104                  Dusseldorf, Germany        31.02
105             Palma de Mallorca, Spain        31.20
106                        Iasi, Romania        31.23
107           El Paso, TX, United States        31.48
108                       Gdansk, Poland        31.50
109                 Incheon, South Korea        31.56
110                      Varna, Bulgaria        31.69
111              Nizhny Novgorod, Russia        31.70
112                  Kuwait City, Kuwait        31.74
113                       Tromso, Norway        31.80
114                      Vadodara, India        31.89
115                     Kosice, Slovakia        32.21
116    Salt Lake City, UT, United States        32.38
117              Ad Dammam, Saudi Arabia        32.47
118                    Hobart, Australia        32.47
119                      Nicosia, Cyprus        32.59
120                      Shenzhen, China        32.79
121           Madison, WI, United States        32.85
122                 Singapore, Singapore        33.04
123   Banja Luka, Bosnia And Herzegovina        33.15
124                     Limassol, Cyprus        33.34
125               Amsterdam, Netherlands        33.72
126                       Beijing, China        33.72
127                    Sydney, Australia        33.75
128      Astana (Nur-Sultan), Kazakhstan        33.81
129              Puerto Vallarta, Mexico        34.13
130                        Cork, Ireland        34.23
131                   Navi Mumbai, India        34.25
132                       Split, Croatia        34.38
133                      Shanghai, China        34.44
134                      Calgary, Canada        34.45
135           Raleigh, NC, United States        34.45
136                        Jaipur, India        34.58
137                         Oslo, Norway        34.79
138                         Surat, India        35.03
139                     Victoria, Canada        35.15
140            Austin, TX, United States        35.39
141                  Brisbane, Australia        35.40
142            Boston, MA, United States        35.52
143             Aberdeen, United Kingdom        35.72
144                     Kathmandu, Nepal        35.75
145                        Oulu, Finland        36.02
146                    Budapest, Hungary        36.04
147                      Cagliari, Italy        36.30
148                    Jerusalem, Israel        36.34
149              Cardiff, United Kingdom        36.44
150                    Vancouver, Canada        36.45
151         San Diego, CA, United States        36.51
152                      Windsor, Canada        36.54
153                      Porto, Portugal        36.55
154               Rotterdam, Netherlands        36.58
155                      Uppsala, Sweden        36.68
156                    Queretaro, Mexico        36.87
157                    Kitchener, Canada        37.13
158             Boise, ID, United States        37.20
159             Brighton, United Kingdom        37.27
160                       Hanoi, Vietnam        37.41
161                     Antwerp, Belgium        37.55
162                     Katowice, Poland        37.70
163                     Penang, Malaysia        37.72
164                  Klaipeda, Lithuania        37.75
165        Pittsburgh, PA, United States        37.77
166                         Riga, Latvia        37.90
167                      Florence, Italy        38.25
168                    Coimbatore, India        38.26
169                     Belgrade, Serbia        38.58
170  Newcastle upon Tyne, United Kingdom        38.67
171                        Amman, Jordan        38.72
172                    Kaunas, Lithuania        38.77
173                   Karlsruhe, Germany        38.82
174                       Moscow, Russia        38.87
175                      Tirana, Albania        38.92
176                      Cuenca, Ecuador        38.93
177          Brooklyn, NY, United States        39.05
178                    Alexandria, Egypt        39.06
179                 Tashkent, Uzbekistan        39.14
180             Saint Petersburg, Russia        39.29
181                        Nagpur, India        39.31
182         Riverside, CA, United States        39.32
183                  Makati, Philippines        39.71
184                       Ankara, Turkey        39.75
185                 Visakhapatnam, India        39.76
186                      Toronto, Canada        39.78
187                     Lahore, Pakistan        39.83
188                     Guangzhou, China        40.13
189                   Colombo, Sri Lanka        40.14
190                    Limerick, Ireland        40.19
191                       Chennai, India        40.20
192                     Novi Sad, Serbia        40.29
193                      Halifax, Canada        40.36
194              Belfast, United Kingdom        40.44
195                        Bonn, Germany        40.49
196            Christchurch, New Zealand        40.66
197            Thiruvananthapuram, India        40.80
198                         Kochi, India        40.82
199                         Nice, France        40.99
200                          Pune, India        41.07
201                    Bangkok, Thailand        41.18
202              Bristol, United Kingdom        41.25
203                      Berlin, Germany        41.28
204                        Lviv, Ukraine        41.30
205                       Liege, Belgium        41.40
206                      Vaughan, Canada        41.60
207                      Sofia, Bulgaria        41.81
208                     Hanover, Germany        41.86
209                   Frankfurt, Germany        41.88
210                      Vitoria, Brazil        41.94
211                  Mississauga, Canada        42.04
212                     Leipzig, Germany        42.14
213                Leeds, United Kingdom        42.20
214                     Perth, Australia        42.21
215                         Genoa, Italy        42.41
216                     Edmonton, Canada        42.45
217                      Moncton, Canada        42.48
218                     Bordeaux, France        42.52
219                Gold Coast, Australia        42.84
220                        Mumbai, India        43.13
221            Denver, CO, United States        43.15
222            Sheffield, United Kingdom        43.18
223                     Hamburg, Germany        43.26
224                         Lodz, Poland        43.29
225                  Iloilo, Philippines        43.35
226          Columbus, OH, United States        43.43
227              Skopje, North Macedonia        43.47
228                         Milan, Italy        43.56
229              Glasgow, United Kingdom        43.66
230                 Kristiansand, Norway        43.77
231          Honolulu, HI, United States        43.92
232                    Chandigarh, India        43.94
233          Richmond, VA, United States        44.09
234                     Hyderabad, India        44.16
235         Charlotte, NC, United States        44.19
236            Liverpool, United Kingdom        44.35
237                 Melbourne, Australia        44.41
238                         Lyon, France        44.60
239                       Bologna, Italy        44.71
240                     Cologne, Germany        44.93
241           Buffalo, NY, United States        44.99

## Health Care

In [29]:
health_care = get_numbeo_dataframe("https://www.numbeo.com/health-care/rankings_current.jsp", 
                                   "Health Care Index", current_city, lower_is_better = False)

health_care

                                   City  Health Care Index
0                        Taipei, Taiwan              87.33
1                     Kaohsiung, Taiwan              86.78
2                 Gold Coast, Australia              86.04
3             Liverpool, United Kingdom              85.71
4                  Chiang Mai, Thailand              84.84
5                       Cuenca, Ecuador              83.04
6          Cleveland, OH, United States              82.74
7                   Makati, Philippines              82.70
8                 Leeds, United Kingdom              82.58
9                   Brisbane, Australia              82.23
10                   Seoul, South Korea              82.13
11                  Canberra, Australia              81.44
12                    Trondheim, Norway              81.40
13                     Hamilton, Canada              81.24
14                      Valencia, Spain              81.15
15                  Adelaide, Australia              80.99
16                         Tokyo, Japan              80.72
17            Edinburgh, United Kingdom              80.69
18              Glasgow, United Kingdom              80.60
19                     Antwerp, Belgium              80.53
20             Qingdao, Shandong, China              79.80
21                        Paris, France              79.49
22       Kansas City, MO, United States              79.40
23                        Madrid, Spain              79.11
24                      Vienna, Austria              78.94
25                  Guadalajara, Mexico              78.93
26           Madison, WI, United States              78.89
27                        Bursa, Turkey              78.66
28                       Bologna, Italy              78.52
29                     Edmonton, Canada              78.49
30       Minneapolis, MN, United States              78.45
31           Manchester, United Kingdom              78.42
32                      Munich, Germany              78.36
33    The Hague (Den Haag), Netherlands              78.02
34                    Sydney, Australia              77.92
35                  Copenhagen, Denmark              77.68
36                     Barcelona, Spain              77.68
37                     Perth, Australia              77.60
38                    Helsinki, Finland              77.49
39                    Bangkok, Thailand              77.48
40                     Mangalore, India              77.36
41                        Gent, Belgium              77.16
42         Baltimore, MD, United States              76.57
43                      Calgary, Canada              76.44
44                      Antalya, Turkey              76.35
45                   Navi Mumbai, India              76.20
46                   Medellin, Colombia              76.14
47                      Toronto, Canada              76.01
48                  Zurich, Switzerland              75.94
49                         Oslo, Norway              75.71
50              Nizhny Novgorod, Russia              75.68
51           Raleigh, NC, United States              75.62
52                    Vancouver, Canada              75.37
53                      Kelowna, Canada              75.26
54                       Bergen, Norway              75.21
55            Boston, MA, United States              75.12
56                 Melbourne, Australia              75.09
57                    Brussels, Belgium              74.97
58                       Ottawa, Canada              74.97
59              Wellington, New Zealand              74.90
60                      Porto, Portugal              74.85
61        Pittsburgh, PA, United States              74.84
62                     Cologne, Germany              74.83
63                     Hamburg, Germany              74.68
64                Tel Aviv-Yafo, Israel              74.55
65               Luxembourg, Luxembourg              74.51
66               Prague, Czech Republic              74.50
67                   Frankfurt, Germany              74.36
68          Columbus, OH, United States              74.19
69                 Brno, Czech Republic              74.04
70         Charlotte, NC, United States              73.88
71          Portland, OR, United States              73.84
72           Birmingham, United Kingdom              73.75
73                        Haifa, Israel              73.73
74                    Kaunas, Lithuania              73.71
75                    Pattaya, Thailand              73.64
76              Bristol, United Kingdom              73.54
77           Seattle, WA, United States              73.49
78          San Jose, CA, United States              73.23
79                Auckland, New Zealand              73.12
80                  Geneva, Switzerland              73.08
81               Eindhoven, Netherlands              73.04
82      Indianapolis, IN, United States              73.01
83                        Malaga, Spain              72.94
84                        Izmir, Turkey              72.87
85                   Timisoara, Romania              72.81
86                          Doha, Qatar              72.78
87                  Nanaimo, BC, Canada              72.47
88                    Coimbatore, India              72.42
89          Honolulu, HI, United States              72.42
90                        Malmo, Sweden              72.22
91                   Davao, Philippines              72.21
92                         Milan, Italy              72.17
93                   Stuttgart, Germany              72.01
94       San Antonio, TX, United States              71.79
95                   Colombo, Sri Lanka              71.74
96              Belfast, United Kingdom              71.74
97                       Chennai, India              71.65
98           Houston, TX, United States              71.61
99                     Lisbon, Portugal              71.56
100               Lausanne, Switzerland              71.53
101                  Vilnius, Lithuania              71.51
102                   Stavanger, Norway              71.42
103   Salt Lake City, UT, United States              71.38
104     Abu Dhabi, United Arab Emirates              71.31
105                    Tallinn, Estonia              71.28
106              London, United Kingdom              71.26
107                 Quebec City, Canada              71.23
108                Singapore, Singapore              70.83
109           Austin, TX, United States              70.69
110                 Mississauga, Canada              70.65
111       Washington, DC, United States              70.63
112             Cape Town, South Africa              70.62
113        San Diego, CA, United States              70.15
114                    Victoria, Canada              70.09
115                     Berlin, Germany              69.85
116                   Jerusalem, Israel              69.83
117                     Halifax, Canada              69.60
118              Amsterdam, Netherlands              69.60
119       Sacramento, CA, United States              69.50
120     Philadelphia, PA, United States              69.38
121                      Ankara, Turkey              69.26
122                    Istanbul, Turkey              69.21
123           Denver, CO, United States              68.92
124                    Winnipeg, Canada              68.82
125       Cincinnati, OH, United States              68.77
126                    Ahmedabad, India              68.68
127            Tampa, FL, United States              68.64
128                  Gothenburg, Sweden              68.57
129                     Florence, Italy              68.37
130             Buenos Aires, Argentina              68.31
131  Fort Lauderdale, FL, United States              67.92
132                      Quito, Ecuador              67.79
133                      Regina, Canada              67.79
134                 Montevideo, Uruguay              67.51
135         Dubai, United Arab Emirates              67.47
136          Atlanta, GA, United States              67.34
137                        Delhi, India              67.23
138                        Turin, Italy              67.22
139              Kuala Lumpur, Malaysia              67.14
140              Pretoria, South Africa              67.10
141                     Manama, Bahrain              67.06
142     Astana (Nur-Sultan), Kazakhstan              66.82
143                      Cali, Colombia              66.81
144                  Reykjavik, Iceland              66.68
145                   Monterrey, Mexico              66.61
146                    Bangalore, India              66.59
147          Phoenix, AZ, United States              66.58
148      Albuquerque, NM, United States              66.56

## Combined Result

In [30]:
from functools import reduce

dfs = [purchasing_power, property_prices, crime, health_care]
df_combined = reduce(lambda left, right: pd.merge(left, right, on = "City"), dfs)

df_combined["Country"] = df_combined.City.str.split(", ").str[-1]
countries_interested = ["United States", "Canada", "Australia", "United Kingdom", "Ireland", "South Africa", "New Zealand", "Singapore"]
#df_combined = df_combined[df_combined.Country.isin(countries_interested)]

df_combined.sort_values("Price To Income Ratio", ascending = True).reset_index(drop=True)

,City,Local Purchasing Power Index,Price To Income Ratio,Crime Index,Health Care Index,Country
0,"Columbus, OH, United States",125.06,2.33,43.43,74.19,United States
1,"Pittsburgh, PA, United States",103.39,2.37,37.77,74.84,United States
2,"Charlotte, NC, United States",120.45,2.84,44.19,73.88,United States
3,"Raleigh, NC, United States",126.95,3.05,34.45,75.62,United States
4,"Madison, WI, United States",112.88,3.49,32.85,78.89,United States
5,"Austin, TX, United States",130.69,3.55,35.39,70.69,United States
6,"Edmonton, Canada",99.02,3.73,42.45,78.49,Canada
7,"Calgary, Canada",110.68,3.87,34.45,76.44,Canada
8,"Denver, CO, United States",115.34,4.49,43.15,68.92,United States
9,"Adelaide, Australia",100.14,4.53,28.66,80.99,Australia
10,"Abu Dhabi, United Arab Emirates",89.63,4.99,11.55,71.31,United Arab Emirates
11,"Dubai, United Arab Emirates",83.99,5.08,16.53,67.47,United Arab Emirates
12,"San Diego, CA, United States",110.66,5.22,36.51,70.15,United States
13,"Ottawa, Canada",87.21,5.43,25.95,74.97,Canada
14,"Canberra, Australia",96.11,5.49,21.69,81.44,Australia
15,"Brisbane, Australia",97.01,5.82,35.40,82.23,Australia
16,"The Hague (Den Haag), Netherlands",92.81,5.84,25.46,78.02,Netherlands
17,"Salt Lake City, UT, United States",126.45,5.97,32.38,71.38,United States
18,"Wellington, New Zealand",95.52,6.03,28.59,74.90,New Zealand
19,"Doha, Qatar",89.64,6.17,12.04,72.78,Qatar
20,"Eindhoven, Netherlands",85.73,6.42,24.05,73.04,Netherlands
21,"Perth, Australia",98.25,6.43,42.21,77.60,Australia
22,"Glasgow, United Kingdom",92.74,6.57,43.66,80.60,United Kingdom
23,"Victoria, Canada",87.49,7.20,35.15,70.09,Canada
24,"Bergen, Norway",88.79,7.45,28.09,75.21,Norway
25,"Mississauga, Canada",85.76,7.68,42.04,70.65,Canada
26,"Liverpool, United Kingdom",83.93,7.86,44.35,85.71,United Kingdom
27,"Zurich, Switzerland",116.42,8.13,16.40,75.94,Switzerland
28,"Boston, MA, United States",100.70,8.16,35.52,75.12,United States
29,"Copenhagen, Denmark",86.29,8.39,27.93,77.68,Denmark
30,"Melbourne, Australia",100.82,8.79,44.41,75.09,Australia
31,"Sydney, Australia",94.84,9.49,33.75,77.92,Australia
32,"Geneva, Switzerland",110.89,9.56,27.26,73.08,Switzerland
33,"Stuttgart, Germany",94.47,9.73,28.76,72.01,Germany
34,"Frankfurt, Germany",101.01,9.80,41.88,74.36,Germany
35,"Berlin, Germany",87.64,9.85,41.28,69.85,Germany
36,"Cologne, Germany",87.96,10.28,44.93,74.83,Germany
37,"Oslo, Norway",83.12,10.66,34.79,75.71,Norway
38,"Vancouver, Canada",93.87,11.30,36.45,75.37,Canada
39,"Luxembourg, Luxembourg",100.34,11.53,27.55,74.51,Luxembourg
40,"Hamburg, Germany",82.54,12.26,43.26,74.68,Germany
41,"Toronto, Canada",84.51,12.45,39.78,76.01,Canada
42,"Helsinki, Finland",84.14,12.58,25.37,77.49,Finland
43,"Vienna, Austria",86.68,12.93,25.97,78.94,Austria